@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px; 
}
body{
    font-family: 'BahnSchrift Condensed','Roboto', sans-serif;
    background-color: #f1f3f6;
    /*background: linear-gradient(45deg,#FDB062,#E047B4);*/
}
:root{
    --primary-color1: #557A95;
    --color2:#7395AE;
}
/*header*/
header{
    background: linear-gradient(45deg,var(--primary-color1),var(--color2);
    height: 56px;
}
header .contact{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    color: white;
}
header .contact .socials{
    display: flex;
    align-items: center;
    margin-left: 242px;
    cursor: pointer;
}
.icon{
    padding: 7px;
}
.icon svg{
    color: white;
}
header .cell{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 199px;
    font-size: 19px;
    
}
header .more{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    
}
header .more button{
    padding: 5px 23px;
    font-size: 16px;
    font-weight: 400;
    background: none;
    background: linear-gradient(180deg,var(--primary-color1),var(--color2));
    border: none;
    border-radius: 13px;
    cursor: pointer;
    color: white;
}
/*navbar*/
.section1{
    width: 100%;
    height: 92px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    position: fixed;
}
.navbar{
    width: 1174px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 500;
    margin-right: 82px;
}
.logo svg{
    height: 31px;
    width: 31px;
    margin-right: 6px;
   
}
.home,.blog,.page,.service,.testimonials,.contact2,.buy,.search{
    height: 100%;
    display: flex;
    align-items: center;
   cursor:pointer;
   transition: ease-in-out;
}
.home:hover,
.blog:hover,
.page:hover,
.service:hover,
.testimonials:hover,
.contact2:hover{
    background-color: rgb(234, 177, 64);
}
.buy{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(234, 177, 64);
    padding-left: 10px;
    padding-right: 11px;
}
.section1 .search{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.section1 .search .search-container{
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}
.section1 .search .search-container input{
    width: calc(100% - 32px);
    padding: 0 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.section1 .search .search-container button{
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
/*section 2*/
.top{
    margin-top: 72px;
    background-image: url(https://images.assetsdelivery.com/compings_v2/gstockstudio/gstockstudio1606/gstockstudio160600088.jpg);
    background: no repeat;
    min-height: 16pc;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.gap{
    padding: 21px;
}
.intro{
    border-left: 4px solid #386d93;
    border-radius: 2px;
    margin-left: 17pc;
}
hr{
    height: 11px;
    border: none;
}
#t1{
    font-weight: 500;
    font-size: 18px; 
}
#t2{
    font-weight: 500;
    font-size: 35px; 
 }
.text{
    margin-left: 8px;
}
.btn1{
    background: linear-gradient(45deg,var(--primary-color1),var(--color2));
    border: none;
    border-radius: 14px;
    padding: 10px;
    color: white;
    margin: 9px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 23%);
}
.btn2{
    background: transparent;
    border: 2px solid white;
    border-radius: 14px;
    font-weight: 600;
    margin: 8px;
    padding: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 23%);
}
.btn1:hover{
    background: #226696;
}
.btn2:hover{
    background-color: white;
    color: black;
}
/*section3*/
.section3{
    width: 100%;
    background: linear-gradient(45deg,#FDB062,#E047B4);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 23%);
}
.mid{ 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 1174px;
    margin: 0 auto;
}
.mid1,.mid2,.mid3{
    margin: 15px 0;
    width: 230px;
}
.mid svg{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px;
    height: 20px;
    width: 20px;
    margin-right: 9.4px;
}
.section3-heading{
    display: flex;
    align-items: center;
    padding-left: 3px;
}
/*section4*/
.section4 .bottom{
    margin-top: 14px;
    height: 100%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bottom1{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 23%);
    width: 1174px;
    display: flex;
    align-items: center;
    
}
#t3{
    font-size:27px;
}
#t4{
    font-size: 21px;
    margin-bottom: 5px;
}
#lines{
    margin: 15px 0;
    background: linear-gradient(45deg,var(--primary-color1),var(--color2));
    width: 14%;
    height: 6.1px;
    border-radius: 6px;
}
.img1{
    height: 270px;
    width: 270px;
    object-fit: fill;
    margin-left: 193px;
}
#wah{
    height: 1px;
    border: 2px solid #557A95;
}
.bottom2{
    background-color: #f1f3f6;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    flex-direction: column;
    width: 1464px;       /*1174*/
   /**/ padding-left: 273px;
    padding-top: 9px;   /**/
}
.services{
    display: flex;
}
.img2{
    height: 260px;
    width: 289px;
    object-fit: fill;
    margin-left: 44px;
    margin-right: 60px;
}
.image{
    display: flex;
    flex-direction: column;
}
.image p{
    position: absolute;
    overflow-y: -1px;
    display: flex;
    align-items: center;
    border-radius: 44px;
    background-color: #f1f3f6;
    width: 195px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 23%);
    
}
.image p .ue{
    background: linear-gradient(45deg,var(--primary-color1),var(--color2));
    border-radius: 50%;
    padding: 11px;

}

/*footer*/
footer{
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: #878787;
}
