*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 192, 202);
    margin: 50px 50px;

}
hr{
    margin: 10px;
}
.calculator{
    border: 1px solid gray;
    border-radius: 16px;
    background: #000000;
    box-shadow: 0px 1px 5px rgba(113, 115, 119, 0.5);
}
.display{
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	align-items: flex-end;
	color: white;
	text-align: right;
	flex: 1 1 0%;
}
.display .output {
    width: 256px;
    height: 53px;
    font-size: 40px;
	font-weight: 400;
	white-space: nowrap;
    border: none;
    background: transparent;
    color: white;
    text-align: right;
    margin: 5px;
    padding: 10px;
}
.keys{
    padding: 25px;
    background-color: #292d36ed;
    border-radius: 20px 20px 20px 20px ;
}
.button{
      border: none;
      width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background: rgb(27 29 36 / 31%);
    color: white;
    font-size: 20px;
    box-shadow: 0px 1px 1px 0px #948d8dfc;
    cursor: pointer;
}
.button:hover{
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.input{
    margin: 5px;
    padding: 10px;
    border: none;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(83, 85, 79, 0.1);
    font-size: 21px;
    text-align: right;
    color: white;
}
.red{
    color: red;
    font-weight: bold;
}
.yellow{
    background-color: rgb(88, 184, 222);
    font-weight: bolder;
}
.blue{
    color: rgb(88, 184, 222);
    font-weight: bold
}
